.flex-col {
    flex-direction: column;
    display: flex;
}
.inline-flex-col {
    flex-direction: column;
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}
.ten-gap {
    gap: var(--gap-medium);
}
.five-gap {
    gap: var(--gap-small);
}
.align-center {
    align-items: center;
}

.hidden {
    display: none;
}
